<meta charset="utf-8">
 
 
<head> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"> 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> 
</head>
<body>
	<div class="text-center">
		<form method="POST" class="form-inline">
			<div class="form-group">
				<font size="4"  style="color: #000000">Login:</font>
				<input class="form-control" type="email" name="loginin" style="color: #000000" placeholder="Email" required>
 
 
 
 
				<font size="4" style="color: #000000">Password:</font>
				<input class="form-control" type="password" name="passwording" style="color: #000000" placeholder="Password" required>
			</div>
			<button class="btn btn-primary" type="submit" name="logining1">logining</button>
 
		</form>
 
	</div>
</body>