<meta charset="utf-8">


<style>
body{
 background:  url(/pogoda1234567.ru/view/image/register1.jpg);
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center;
background-size: 100%;
height: 500px;
}
div.a
{
height:30px;
}
</style>
<title>Your Order</title>
<head> 
	<link rel="shortcut icon" href="/pogoda1234567.ru/view/image/123.png" type="image/png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"> 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> 
</head>
<body>
<div class="a">
<nav class="navbar navbar-inverse">
  <button class="btn btn-outline-primary" type="submit" name="pars"><a href='pogoda1234567.ru/control/parse.php'>Parse</a></button>
<button class="btn btn-outline-primary" type="submit" name="feed"><a href='pogoda1234567.ru/control/sendfeed.php'>Send Feedback</a></button>
<button class="btn btn-outline-primary" type="submit" name="pars"><a href='pogoda1234567.ru/control/feedback.php'>View all Feedbacks</a></button>
</nav>
</div>

<div class="text-center"> 
	
	<h2><font style="color: #000000">Please choose what do you want</font></h2>

</div>
	<nav aria-label="...">
  <ul class="pager">
<form method="POST">
    <button class="btn btn-primary" type="submit" name="reg">Registration</button>
    <button class="btn btn-primary" type="submit" name="log">Logining</button>
</form>
  </ul>
</nav>
<div class="text-right">
<h3><font style="color: #FF0000">
</body>