<meta charset="utf-8">
 
 
<style>
body
{
background:  url(/pogoda1234567.ru/view/image/zp.jpg);
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center;
background-size: 100%;
}
</style>
 
<title>Weather in Zp</title>
<head> 
	<link rel="shortcut icon" href="/pogoda1234567.ru/view/image/321.png" type="image/png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"> 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> 
</head>
<body>
			<div class="text-center">
		     <h1>
			Weather in ZP
		</h1>
 
	</div>
<div class = "text-right">
<h3>
	</body>