<meta charset="utf-8">
 
 
 
 
<head> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"> 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> 
</head>
 
 
 
<div class="text-left">
<form method="POST" class="form-inline">
 
 
<!-- Name -->
<div class="form-group">
<h3><font style="color: #000000">Name</font></h3>
<input class="form-control" type="text" name="Name" placeholder="Name" required>
</div>
 
 
<br>
 
 
<!-- Surname -->
<div class="form-group">
<h3><font style="color: #000000">Surname</font></h3>
<input class="form-control" type="text" name="Surname" placeholder="Surname" required>
</div>
 
 
<br>
 
 
<!-- Mail -->
<div class="form-group">
<h3><font style="color: #000000">Email</font></h3>
<input class="form-control" type="email" name="Email" placeholder="Email" required>
</div>
 
 
<br>
 
 
<!-- Gender -->
<div class="form-group">
<h3><font style="color: #000000">Gender</font></h3>
<select class="form-control" name="Gender">
<option>NON</option>
<option>Man</option>
<option>Woman</option>
</select>
</div>
 
 
<br>
 
 
<!-- Birthday -->
<div class="form-group">
<h3><font style="color: #000000">Birthday</font></h3>
<input class="form-control" size="1" type="text" placeholder="day" name="Birthday" maxlength="2">
<input class="form-control" type="text" name="Birthmounth" placeholder="mounth" size="2" maxlength="2">
<input class="form-control" type="text" name="Birthyear" placeholder="year" size="3" maxlength="4">
</div>
 
 
<br>
 
 
<!-- Password -->
<div class="form-group">
	<h3><font style="color: #000000">Password</font></h3>
	<input class="form-control" type="password" name="Password" placeholder="password" required>
</div>
 
<br>
 
 
<!-- rePassword -->
<div class="form-group">
	<h3><font style="color: #000000">Confirm Password</font></h3>
	<input class="form-control" type="password" name="rePassword" placeholder="rePassword" required>
</div>
 
 
<br><br><br>
 
 
<div class="form-group">
	<p class="text-left"><button class="btn btn-primary" type="submit" name="registration">Register</button></p>
</div>
 
 
 
</form>
</div>