<meta charset="utf-8">
<head><link rel="shortcut icon" href="/pogoda1234567.ru/view/image/322.png" type="image/png"></head>
<style>
body{
 background:  url(/pogoda1234567.ru/view/image/showfeed.jpg);
 background-repeat: no-repeat;
  background-size: 120%;
   background-attachment: fixed;
}
</style>
<title>Show Feedbacks</title>
<head> 
 
	<link rel="shortcut icon" href="pogoda1234567.ru/view/image/322.png" type="image/png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"> 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> 
</head>
<body>
	<div class="text-center">
		<label style="color: #000000"><h1>
			Watch all feedbacks
		</h1>
	</div>
</body>